{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    کارت خرید شما|با تشکر
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="page-header">با تشکر از خرید شما
                </h3>
                <p>خرید شما با موفقیت انجام شد. شماره سفارش شما :  <strong>{{ order.id }}</strong>.</p>
            </div>
        </div>
    </div>
{% endblock %}